[submodule "3rdparty/rmtrash"]
	path = 3rdparty/rmtrash
	url = https://github.com/PhrozenByte/rmtrash.git
[submodule "3rdparty/trash-cli"]
	path = 3rdparty/trash-cli
	url = https://github.com/andreafrancia/trash-cli.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "3rdparty/cquery"]
	path = 3rdparty/cquery
	url = https://github.com/jacobdufault/cquery
[submodule "3rdparty/fzf"]
	path = 3rdparty/fzf
	url = https://github.com/junegunn/fzf.git
